<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sample.issue.orchestrator.liba">

    <application>
        <activity
            android:name=".AnotherActivity"
            android:label="@string/title_activity_another"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>